name: "Continuous Integration"

on:
  push:
  pull_request:

jobs:
  coding-standards:
    name: "Check Coding Standards"

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.1"
          tools: composer:v2

      - name: "Install dependencies"
        uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: "highest"

      - name: "Run phpcs"
        run: vendor/bin/phpcs -n

  static-analysis:
    name: "Static Analysis"

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.1"
          tools: composer:v2

      - name: "Install dependencies"
        uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: "highest"

      - name: "Run psalm"
        run: vendor/bin/psalm

  tests:
    name: "PHPUnit tests"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        dependencies:
          - "highest"
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
        include:
          - php-version: "8.1"
            dependencies: "lowest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          tools: composer:v2

      - name: "Install dependencies"
        uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "Run tests"
        run: vendor/bin/phpunit
